{% extends "../base.html" %}

{% block extra_head %}
{% module Static("css/chat.css") %}
{% end %}
{% block extra_js %}
{% module Static("js/ext/socket.io-0.6.3.js") %}
<script>
WEB_SOCKET_DEBUG = false;
//WEB_SOCKET_DEBUG=1;
// it's important this appears *after* loading socket.io.js
//WEB_SOCKET_SWF_LOCATION = 'http://cdn.socket.io/stable/WebSocketMain.swf';
WEB_SOCKET_SWF_LOCATION = '{{ static_url("js/ext/WebSocketMain.swf") }}';
{% modules.Static("js/chat.js") %}
{% end %}

{% block content_inner %}
<h2>{{ page_title }}</h2>
<h3 id="pleasewait">Please wait...</h3>
<div id="chat-wrapper" style="display:none">
  <div id="participants">
    <p>People here:</p>
    <ul></ul>
  </div>
  <div id="chat">
  </div>
  <form id="chatform">
    <input type="text">
  </form>
</div>
{% end %}
