label:after {
  content: ':'
}

#id_text {
  font-size:140%;
  width:600px;
}

#id_answer, #genre {
  font-size:140%;
  width:300px;
}

.shuffler { font-size:90%; padding-left:4px; }

p.field label.genre {
  display:inline;
  margin-right:10px;
  font-weight:normal;
}
label.genre:after { content: ''; }

span.maxlength-countdown { padding-left:10px; font-size:80%; }
span.maxlength-maxed { color:red; }

a.bold { font-weight:bold; }

.genre-field { white-space:nowrap; }
