{% extends "../base.html" %}

{% block extra_head %}
<style>
#other-rules { float:right; min-width:200px; }
table { width:65%; margin-left: 6%; }
tr.band-1 td { font-size:155%; }
tr.band-2 td { font-size:135%; }
tr.band-3 td { font-size:125%; }
tr.band-10 td { font-size:110%; }
tr.band-50 td { font-size:100%; }
tr.band-100 td { font-size:80%; }
tr.band-1000 td { font-size:70%; }
</style>
{% end %}

{% block content_inner %}

{% if user and user.anonymous %}
{% module AnonymousPester() %}
{% end %}


{% if other_rules %}
<div id="other-rules">
  <h3>Other highscore lists</h3>
  <ul>
    {% for rule, count in other_rules %}
    <li><a href="{% if rule.default %}{{ reverse_url('play_highscore') }}{% else %}{{ reverse_url('play_highscore_rules', rule._id) }}{% end %}">{{ rule.name }}</a>
      <span class="count">(played {{ count }} times)</span>
    </li>
    {% end %}
  </ul>
</div>
{% end %}

<h1>Highscore
{% if rules and not rules.default %}
-
 <a href="{{ reverse_url('rules_page', rules._id) }}">{{ rules.name }}</a>
{% end %}
</h1>


<table>
  {% for i, pp in enumerate(play_points) %}
  <tr class="band-{% module HighscoreBand(pp.highscore_position) %}">
    <td class="position">{{ pp.highscore_position }}.</td>
    <td class="name">{{ pp.user.username }}
    {% if user and user == pp.user %}
      <span class="yellow">&larr; you you you!</span>
    {% end %}
    </td>
    <td class="points">{{ pp.points }}</td>

  {% end %}
</table>

{% end %}
