{% extends "../base.html" %}

{% block extra_head %}
<style>
th { text-align:left; color: #FFEA00; }
th.points, td.points { text-align:right; }
h2 { float:right; }
span.maxlength-countdown { padding-left:5px; font-size:80%; }
span.maxlength-maxed { color:red; }
#id_message { width:300px; }
</style>
{% end %}

{% block content_inner %}
{% if play.winner %}
<h2>Winner: {{ play.winner.username }}</h2>
{% else %}
<h2>It's a draw</h2>
{% end %}

<h1>{{ page_title }}</h1>
<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Question</th>
      <th>Answer</th>
      <!--<th>Category</th>-->
      {% for player_name in player_names %}
      <th colspan="2">{{ player_name }}</th>
      {% end %}
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th colspan="3">TOTAL:</th>
      {% for player_name in player_names %}
      <th>&nbsp;</th>
      <th class="points">
          {{ totals[player_name] }}
      </th>
      {% end %}
    </tr>
  <tfoot>
{% for i, question in enumerate(questions) %}
  <tbody>
    <tr>
      <td>{{ i + 1 }}.</td>
      <td>{{ question.text }}</td>
      <td>{{ question.answer }}</td>
      <!--<td>{{ question.genre.name }}</td>-->
      {% for player_name in player_names %}
      <td>{% set outcome=outcomes[question._id][player_name] %}
        {% if outcome.right %}
          <img src="{{ static_url('images/right.png') }}" alt="right!">
        {% elif outcome.answer %}
          <img src="{{ static_url('images/wrong.png') }}" alt="wrong">
        {% elif outcome.timed_out %}
          <img src="{{ static_url('images/hourglass.png') }}" alt="too slow">
        {% else %}
          <img src="{{ static_url('images/wrong.png') }}" alt="beaten">
        {% end %}
      </td>
      <td class="points">
        {% if outcome.right %}
          {% if outcome.alternatives %}
          +1
          {% else %}
          +3
          {% end %}
        {% end %}
      </td>
      {% end %}
    </tr>
  </tbody>
{% end %}
</table>

<p id="message_sent" style="display:none">Cool! Message sent</p>
<div id="send_message" style="display:none">
{% module SendPlayMessageForm(play) %}
</div>

<p><a href="{{ reverse_url('play_replays') }}">&larr; Back to all past plays</a>
&nbsp;
<a href="{{ reverse_url('play') }}">Play another battle! &rarr;</a>
</p>

{% end %}

{% block extra_js %}
<script>
head.js(JS_URLS.maxlength_countdown, function() {
  if (location.hash.search(/message_sent/) > -1) {
    $('#message_sent').show();
  } else {
    $('input[maxlength]').maxlength_countdown();
    $('#send_message').show(900);
  }
});
</script>
{% end %}
