{% extends "../base.html" %}

{% block extra_head %}
{% module Static("css/ext/fancybox/jquery.fancybox-1.3.4.css") %}
{% module Static("css/replay.css") %}
{% end %}

{% block content_inner %}

<div class="winner">
{% if play.winner %}
<h2>Winner: {{ play.winner.username }}</h2>
{% else %}
<h2>It's a draw</h2>
{% end %}
</div>

<h1>{{ page_title }}</h1>

{% if user.anonymous %}
{% module AnonymousPester() %}
{% end %}

<table class="battle">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Question</th>
      <th>Answer</th>
      <!--<th>Category</th>-->
      {% for player_name in player_names %}
      <th colspan="2">{{ player_name }}</th>
      {% end %}
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th colspan="3">TOTAL:</th>
      {% for player_name in player_names %}
      <th>&nbsp;</th>
      <th class="points">
          {{ totals[player_name] }}
      </th>
      {% end %}
    </tr>
  <tfoot>
{% for i, question in enumerate(questions) %}
  <tbody>
    <tr>
      <td>{{ i + 1 }}.</td>
      <td>{{ question.text }}
      {% if images.get(question._id) %}
      <a class="thumbnail"
         href="{% module GetQuestionImageThumbnailSrc(images[question._id], (300, 300)) %}">
      {% module ShowQuestionImageThumbnail(images[question._id], (20, 20)) %}
      </a>
      {% end %}
      </td>
      <td>{{ question.answer }}</td>
      <!--<td>{{ question.genre.name }}</td>-->
      {% for player_name in player_names %}
      <td>{% set outcome=outcomes[question._id][player_name] %}
        {% if outcome.right %}
          <img src="{{ static_url('images/right.png') }}" alt="right!">
        {% elif outcome.answer %}
          <img src="{{ static_url('images/wrong.png') }}" alt="wrong">
        {% elif outcome.timed_out %}
          <img src="{{ static_url('images/hourglass.png') }}" alt="too slow">
        {% else %}
          <img src="{{ static_url('images/wrong.png') }}" alt="beaten">
        {% end %}
      </td>
      <td class="points">
        {% if outcome.right %}
          {% if outcome.alternatives %}
          +1
          {% else %}
          +3
          {% end %}
          {% if outcome.time %}
          <span class="time-seconds">({{ '%.1f'%outcome.time }} sec)</span>
          {% end %}
        {% end %}
      </td>
      {% end %}
    </tr>
  </tbody>
{% end %}
</table>

<p id="message_sent" style="display:none">Cool! Message sent</p>

{% if can_send_message %}
<div id="send_message" style="display:none">
{% module SendPlayMessageForm(play) %}
</div>
{% end %}

<p><a href="{{ reverse_url('play_replays') }}">&larr; Back to all past plays</a>
&nbsp;
<a href="{{ reverse_url('play') }}">Play another battle! &rarr;</a>
</p>

<h3 style="margin-top:60px">How it went</h3>

<div id="scoreboard-graph"></div>

{% end %}

{% block extra_js %}
<script>
var SERIES = {% raw series_json %};
</script>
{% module Static('js/play/replay.js') %}
{% end %}
