#body { padding:0; }
#log { height: 200px; overflow: auto; width: 750px; border: 1px solid #eee; font: 11px Helvetica, Arial; }
#log p { padding: 4px; margin: 0; }
#log p.inbound { text-align:right; }
/*#log p:nth-child(odd) { }*/
li.past span { text-decoration:line-through; }
.disconnected { text-decoration:line-through; }
li.current { font-weight:bold; }
h3 { margin-top:0; margin-bottom:2px; }
#you_won, #you_lost, #you_drew { padding:50px; text-align:center; }
#you_won h1 { color:green; }
#you_lost h2 { color:red; }
#you_drew h2 { color:orange; }
#scoreboard { float:right; /*width:200px;*/ }
#scoreboard .score { font-size:1.2em; }
#scoreboard .increment { font-size:1.2em; color:green; }
#scoreboard .score, #scoreboard .increment { height:20px; text-align:right; width:30px; }
#timer {
    width:80px;
    background: #f36;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    height: 80px;
    line-height: 80px;
    margin: 8px 0 0 0;
    text-align: center;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
}
#timer-wrapper { float:left; width:100px; }
#respond { margin-left:105px; }

#gossip {
    font-style:italic;
    position:absolute;
    left:365px;
    top:35px;
 }
#play_right { float:right; width:400px; }
#challenge-computer .more-info { font-size:80%; }
/*#challenge-computer a.more-info { float:right; }*/
#error_warning h2,
#error_disconnected h2 { color:red; }
#error_warning { text-align:center; }
#error_disconnected { margin-bottom:20px; }
#sound-switch { }
#exit {
  padding:10px;
  margin-bottom:30px;
  /*
  border-left:1px solid #333;
  border-right:1px solid #333;
  border-bottom:1px solid #666;

  border-radius-bottomright: 15px;
  -moz-border-radius-bottomright:15px;
  border-radius-bottomleft: 15px;
  -moz-border-radius-bottomleft:15px;
  -webkit-border-radius:0 0 15px 0;
  */
}
