#content_inner .question h4 {
  border-bottom:0px solid white;
  font-size:17px;
}
#question_info {
  width:45%;
}
button.bold { font-weight:bold; }

.rating { float:right; }
.verdict_and_comment p {
    font-style:italic;
    margin-bottom:0em;
}
.verdict_and_comment p.verdict {
    font-style:normal;
    margin-top:1em;
}
p.verdict strong {
    padding-right:10px;
}

div.question {
  margin-left:10px;
}
div.box p.question_text {
  font-size: 15px;
  margin-bottom: 0;
}

div.box p.question_metadata {
  font-size: 13px;
  color: #666;
}

th { text-align: left; }

a.about-breakdown { font-size:80%; }

#search {
  float: left;	
  width: 100%;
  margin-bottom: 25px;
  margin-top: 0px;
}

#search input {
    border: medium none;
    border-radius: 7px 7px 7px 7px;
    color: #666666;
    font-family: arial,sans-serif;
    font-size: 16px;
    padding: 10px 15px;
    width: 300px;
}



input.placeholder { color:#999; }
