#content_inner .question h4 {
  border-bottom:0px solid white;
  font-size:17px;
}
#question_info {
  width:45%;
}
button.bold { font-weight:bold; }
#questions_score { float:right; }

.rating { float:right; }
.verdict_and_comment p {
    font-style:italic;
    margin-bottom:0em;
}
.verdict_and_comment p.verdict {
    font-style:normal;
    margin-top:1em;
}
p.verdict strong {
    padding-right:10px;
}

div.question {
  margin-left:20px;
}
p.question_text {
  font-weight: bold;
  margin-bottom:0.1em;
}
p.question_metadata {
  font-size: 0.9em;
  margin-left:20px;
  margin-top:0.1em;
}
p.question_thumbnail {
  margin-right:10px;
}

#reviewed_questions td.question_text {
  padding-top:10px;
}
#reviewed_questions td.label {
  color: #FFEA00;
  padding-left:20px;
}
#reviewed_questions td.comment {
  max-width: 500px;
}
#reviewed_questions td {
  font-size:80%;
}

/* Used in view.html */
#question_reviews td {
  font-size:80%;
}

th { text-align: left; }

a.about-breakdown { font-size:80%; }

#search input { float:right; margin-right:60px;}
input.placeholder { color:#999; }
