html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#bg {position:fixed; top:0; left:0; width:100%; height:100%;}
#body {
  position:relative;
  z-index:1;
  max-width:900px;
  margin:auto;
  color:#f1f1f1;
  /*font-family: Arial,Helvetica,sans-serif;*/
  font-family: "Droid Sans",Arial,Helvetica,sans-serif;
}
h1,h2,h3,h4 { font-family: "Droid Sans",Arial,Helvetica,sans-serif; }
a { color:white; }
#login { float:right; margin-right:60px; margin-top:10px; }
#header h1 {
  font-size:2.5em;
  float:left;
}
#header h1 a {
  text-decoration:none;
}
div.clearer {clear: both; line-height: 0; height: 0;}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("/static/images/btn.jpg") repeat-x scroll 0 0 #DEE0E1;
    border-color: #CED0D1 #CED0D1 #B1B2B3;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    color: #333333;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 10px;
    text-decoration: none;
    width: auto;
}
.btn:hover {
    border: 1px solid #AAABAC;
    text-decoration: none;
}
.btn:active {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-position: 0 -27px;
    border-color: #B1B2B3 #CED0D1 #CED0D1;
    border-right: 1px solid #CED0D1;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
}


input {
  color:#333;
}
input:focus {
  color:#000;
}
form.standard label {
  display: block;
  width: 150px;
  float: left;
  margin: 2px 2px 6px 4px;
  text-align: right;
}
form.standard br { clear: left; }

form.standard label.error {
  display: inline;
  width: 200px;
  float: none;
}

form.question label {
  display:block;
  font-weight:bold;
}
form.question p.field {
  /*border-bottom:1px solid rgb(50,50,50);*/
  padding-bottom:10px;
}
form.question textarea {
  width:600px;
  height:100px;
}


#footer {
  border-top:1px solid #ccc;
  text-align:center;
  margin-top:100px;
  font-size:0.8em;
}