html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #2b2b2b url("../images/darker.png") repeat;
  /*
  background: #000000 url("../images/black-back3.png") repeat;
  background: -webkit-gradient(radial, 50% 50%, 10, 50% 50%, 900, from(rgba(0,0,0,0)), to(rgba(0,0,0,1))), url("../images/black-back3.png") repeat;
  background: -moz-radial-gradient(50% 50% 360deg, circle closest-corner, transparent 5%, #000) repeat scroll 0 10%, url("../images/black-back3.png") repeat scroll 0 0 transparent;
  */
}

#body {
  max-width:900px;
  margin:auto;
  color:#f1f1f1;
  font-family:'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
}
h1,h2,h3,h4, .yellow {
  /*font-family: "Droid Sans",Arial,Helvetica,sans-serif;*/
  color:#ffea00;
}
a { color:white; }
.tiny { font-size:70%;color:#ccc; }
#login {
  float:right;
  margin-right:60px;
  margin-top:10px;
}
#login p {
  margin-bottom:2px;
}
#header h1 {
  font-size:2.5em;
  float:left;
}
#header h1 a {
  text-decoration:none;
}
div.clearer {clear: both; line-height: 0; height: 0;}


input {
  color:#333;
}
input:focus {
  color:#000;
}
form.standard label {
  display: block;
  width: 150px;
  float: left;
  margin: 2px 2px 6px 4px;
  text-align: right;
}
form.standard br { clear: left; }

form.standard label.error {
  display: inline;
  width: 200px;
  float: none;
}

form.question label {
  display:block;
  font-weight:bold;
}
form.question p.field {
  /*border-bottom:1px solid rgb(50,50,50);*/
  padding-bottom:10px;
}
form.question textarea {
  width:600px;
  height:100px;
}


#footer {
  border-top:1px solid #ccc;
  text-align:center;
  margin-top:100px;
  font-size:0.8em;
}

#gritter-notice-wrapper {
  top:100px;
}

a.bold { font-weight:bold; }
div.anonymous { margin:20px; padding:20px 50px; border:1px solid #ccc; }
