<!doctype html>
<html>
    <head>
        <!-- revision: {{ git_revision }} -->
        <title>{% block title %}{{ page_title }}{% end %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
        <meta name="description" content="Kwissle is an real-time general knowledge quiz battle game.">
        <meta name="keywords" content="quiz,battle,realtime,real-time,general knowledge,play,websockets,socket.io">
	{% module Static("css/ext/jquery.gritter.css", "css/style.css") %}
        {% block extra_head_outer %}
        {% block extra_head %}{% end %}
        {% end %}

    </head>
    <body>

    <div id="body">

    <div id="header">
      <h1><a href="/">{{ PROJECT_TITLE }}</a></h1>

      <div id="login" class="topnav">
        {% if user %}
        <p><a href="{{ reverse_url('settings') }}" class="account">Hi {{ user_name }}</a>
        {% if is_admin_user %}(admin){% end %}
        <a href="{{ reverse_url('logout') }}" class="log-out">log out</a></p>
        {% else %}
        <p><a href="{{ reverse_url('login') }}" class="account">Login &amp; sign-up</a></p>
        {% end %}

        {% block extra_login %}
        {% if total_play_points %}
          <div id="points">
          <p>
            <strong>Your Kwissle Points:</strong>
            <span class="kwissle-points">{{ total_play_points }}</span>
            <a href="{{ reverse_url('play_highscore') }}" class="about-breakdown"
               title="You're number {{ play_highscore_position }} in the Highscore">#{{ play_highscore_position }}</a>
          </p>
          </div>
          {% end %}
        {% end %}
      </div>
      <div class="clearer">&nbsp;</div>
    </div>

    {% block content %}

    {% block h2 %}{% end %}

    <div id="wrap">

      {% block content_outer %}
      <div id="content_inner">
      {% block content_inner %}
      {% end %}
      </div>
      {% end %}

      <div class="clearer">&nbsp;</div>

      <div id="footer">
      {% module Footer(user=user) %}
      </div>

    </div>
    {% end %}
    </div>

{% module Settings(settings) %}

<!-- basics needed to render the calendar -->
{% block corejs %}
{% module Static("js/ext/head.load.min.js") %}
<script>
function L() {
   if (window.console && window.console.log)
     console.log.apply(console, arguments);
}
head.js(JS_URLS.jquery, JS_URLS.gritter, function() {
  var messages = {% module FlashMessages().as_list() %};
  $.each(messages, function(i, msg) {
    $.gritter.add({title: msg.title,
                   text: msg.text});
  });
});
</script>
{% end %}


{% block extra_js_outer %}
{% block extra_js %}{% end %}
{% end %}


{% block google_analytics %}
{% if not debug %}
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-94373-12']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_trackPageLoadTime']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% end %}
{% end %}

{% if debug %}<p style="float:right;" class="tiny">{% else %}<!--{% end %}Wow! this page only took {{ request.request_time() * 1000 }} milliseconds to render {% if debug %}</p>{% else %}-->{% end %}
    </body>
</html>
