{% extends "base.html" %}

{% block content_inner %}


<p style="text-align:center; font-weight:bold;" class="yellow">
Kwissle is a real-time general knowledge quiz battle game.
</p>

{% if user %}
<p>
There are current <strong>{{ count_published_questions }}</strong> published
<a href="{{ reverse_url('questions') }}">Questions</a>.
<a href="{{ reverse_url('add_question') }}">Wanna contribute some more?</a>
{% if accepted_questions_count %}
<br>or help out <a href="{{ reverse_url('review_random') }}" rel="nofollow"
               title="Click to review accepted questions so they can be published"
               >reviewing the {{ accepted_questions_count }} accepted questions</a>
{% end %}
</p>

<p>
<a href="{{ reverse_url('play') }}" style="font-size:1.8em">Play!</a>
<br><a href="/help/rules">Rules are simple</a>
{% if past_plays %}
<br>You have played <a href="{{ reverse_url('play_replays') }}">{{ past_plays }} times before</a>
<br>You can play by <a href="{{ reverse_url('rules') }}">other rules too</a>
{% end %}
</p>

{% else %}

<div style="float:right" class="play-now">
<p><strong>I can't wait!</strong></p>

<h2><a href="#" rel="nofollow">Play now!</a></h2>
<p class="note">...and sign in later</p>
<form action="{{ reverse_url('start_play') }}" style="display:none">
<p><label for="play-now-username">Enter a username:</label>
   <input name="username" id="play-now-username">
   <input type="submit" value="Let's go!">
</p>
<p class="error"></p>
</form>
</div>

<p style="margin-top:60px">
<strong>How to play</strong>
</p>

<ol>
  <li><a href="{{ reverse_url('login') }}" class="account">Sign in</a></li>
  <li>Click on "Play!" on the home page</li>
  <li>Wait for someone to play against</li>
  <li>Battle! You get 3 points if you answer right, 1 point if you get it by alternative (see <a href="/help/rules">Rules</a>)</li>
  <li>Bask in the glory!</li>
</ol>

{% end %}

{% end %}


{% block extra_js %}
{% if not user %}
{% module Static("js/play-now.js") %}
{% end %}
{% end %}
