{% extends "base.html" %}

{% block content_inner %}


<p style="text-align:center; font-weight:bold;" class="yellow">
Kwissle is a real-time general knowledge quiz battle game.
</p>

{% if user %}
<p>
There are current <strong>{{ count_published_questions }}</strong> published
<a href="{{ reverse_url('questions') }}">Questions</a>.
<a href="{{ reverse_url('add_question') }}">Wanna contribute some more?</a>
</p>

<p>
<a href="{{ reverse_url('play') }}" style="font-size:1.8em">Play!</a>
<br><a href="/help/rules">Rules are simple</a>
{% if past_plays %}
<br>You have played <a href="{{ reverse_url('play_replays') }}">{{ past_plays }} times before</a>
{% end %}
</p>

<!--
<p>
<a href="{{ reverse_url('chat') }}">Chat</a>  - to see if there are more people around
</p>
-->
{% else %}

<p style="margin-top:60px">
<strong>How to play</strong>
<p>

<ol>
  <li><a href="{{ reverse_url('login') }}" class="account">Sign in</a></li>
  <li>Click on "Play!" on the home page</li>
  <li>Wait for someone to play against</li>
  <li>Battle! You get 3 points if you answer right, 1 point if you get it by alternative (see <a href="/help/rules">Rules</a>)</li>
  <li>Bask in the glory!</li>
</ol>

{% end %}




{% end %}
