{% extends "base.html" %}


{% block content_inner %}


{% if user %}

<div id="start-button">
	<a href="{{ reverse_url('play') }}">
	<div>
		<p>Start a battle</p>
	</div>
	</a>
</div>

<div class="links">
<ul>
<li><a href="/help/rules">The rules</a></li>
<li><a href="{{ reverse_url('play_highscore') }}">Leaderboard</a></li>
<li><a href="/help/rules">Your stats</a></li>
<li><a href="/help/rules">How to play</a></li>
<li><a href="{{ reverse_url('questions') }}">Add questions</a></li>
</ul>
</div>	


</div>

<!--
<p>
<a href="{{ reverse_url('chat') }}">Chat</a>  - to see if there are more people around
</p>
-->
{% else %}

<div id="start-button">
<a href="{{ reverse_url('login') }}">
	<div>
		<p>Start kwissling</p>
	</div>
</a>
</div>

<div class="links">
	<ul>
	  <li><a href="">How to play</a></li>
	  <li><a href="">Invite your friends</a></li>
	  <li><a href="">About</a></li>
	  <li><a href="{{ reverse_url('login') }}">Login / Signup</a></li>
	  <li><a href="">Leaderboard</a></li>
	  <li><a href="/help/rules">Rules</a></li>
	</ul>
</div>

<br clear="all"/>



{% end %}




{% end %}
