{% extends "base.html" %}

{% block extra_js %}
{{ modules.Static("js/question_input.js") }}
{% end %}

{% block content_inner %}

<p>
<span style="float:right">
 Tips: <a href="/help/a-good-question">Writing a good question</a>
</span>

<a href="{{ reverse_url('questions') }}" class="btn">&larr; back to questions dashboard</a></p>

{% if form.errors %}
    <ul class="errors general-errors">
        {% for field_name, field_errors in [(n,form.errors[n]) for n in form.errors if form.errors[n]] %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }} {{ error }}</li>
            {% end %}
        {% end %}
    </ul>
{% end %}

<form action="" class="question" method="post">{{ xsrf_form_html() }}

{% for field in form %}
  <p class="field">
    {{ field.label }}
    {{ modules.RenderField(field) }}
    {% if field.errors %}
       <ul class="errors">{% for error in field.errors %}<li>{{ error }}</li>{% end %}</ul>
    {% end %}
  </p>
{% end %}
<div><input type="submit" value="Add question" title="You can edit the question before you submit it"></div>
</form>

{% end %}