{% extends "base.html" %}

{% block extra_js %}
{% module Static("js/questions/input.js") %}
{% end %}

{% block content_inner %}

<p>
<span style="float:right">
 Tips: <a href="/help/a-good-question">Writing a good question</a>
</span>

<a href="{{ reverse_url('questions') }}" class="btn">&larr; back to questions dashboard</a></p>

{% if form.errors %}
    <ul class="errors general-errors">
        {% for field_name, field_errors in [(n,form.errors[n]) for n in form.errors if form.errors[n]] %}
            {% for error in field_errors %}
                <li>{% raw form[field_name].label %} {% raw error %}</li>
            {% end %}
        {% end %}
    </ul>
{% end %}

<form action="" class="question" method="post">{% module xsrf_form_html() %}

<p class="image-toggle">
<a href="#">Want to make a picture question?</a><br>
<span class="image-info" style="display:none">Easy! Add the question first and then you can upload an image.</span>
</p>

{% for field in form %}
  <p class="field">
    {% raw field.label %}
    {% module RenderField(field) %}
    {% if field.errors %}
       <ul class="errors">{% for error in field.errors %}<li>{% raw error %}</li>{% end %}</ul>
    {% end %}
  </p>
{% end %}
<div>
  <input style="display:none" class="add-image" name="add_image" type="submit" value="Save and upload image" title="You can submit the question after you have uploaded a question">
  <input type="submit" value="Save and confirm to submit" title="You have to confirm the question before submitting">
  <input type="submit" name="save_as_draft" value="Save as draft" title="You can return and work on it any time">
</div>
</form>

{% end %}
