{% extends "base.html" %}

{% block extra_head %}
<style type="text/css">
td { font-size: 80%; }
</style>
{% end %}

{% block content_inner %}

{% if state_counts_pie %}
<p>
<img src="{{ state_counts_pie }}" alt="pie">
</p>
{% end %}
{% if filter_count is not None %}
<h3>{{ filter_count }} filtered</h3>
{% end %}
<form action="">
<table>
  <thead>
    <tr>
      <th><a href="{{ modules.SortKey('state') }}">State</a></th>
      {% if 0 %}<th>Question</th>{% end %}
      <th>Category</th>
      <th>By</th>
      <th><a href="{{ modules.SortKey('age') }}">Age</a></th>
      <th>Question</th>
    </tr>
  <thead>
  <tfoot>
    <tr>
      <td><select name="states" multiple size="5">
        <option value="DRAFT" {% if 'DRAFT' in states_filter %}selected{% end %}>Draft</option>
        <option value="SUBMITTED" {% if 'SUBMITTED' in states_filter %}selected{% end %}>Submitted</option>
        <option value="REJECTED" {% if 'REJECTED' in states_filter %}selected{% end %}>Rejected</option>
        <option value="ACCEPTED" {% if 'ACCEPTED' in states_filter %}selected{% end %}>Accepted</option>
        <option value="PUBLISHED" {% if 'PUBLISHED' in states_filter %}selected{% end %}>Published</option>
      </select>
      </td>
      <td>
        <select name="genres" multiple size="5">
          {% for genre in all_genres %}
          <option value="{{ genre._id }}"
           {% if genre._id in genres_filter %}selected{% end %}>{{ genre.name }}</option>
          {% end %}
        </select>
      </td>
      <td>
        <select name="users" multiple size="5">
          {% for user_ in all_users %}
          <option value="{{ user_._id }}"
          {% if user_._id in users_filter %}selected{% end %}
          >{{ user_.first_name }} {% if user_.last_name %}{{ user_.last_name }}{% end %}</option>
          {% end %}
        </select>
      </td>
      <td>
      &nbsp;
      <input type="submit" value="Filter">
      </td>
      <td>&nbsp;</td>
    </tr>
  </tfoot>
  {% for question in all_questions %}
  <tbody>
    <tr>
      <td>{{ question.state }}</td>
      {% if 0 %}<td>{{ question.text }}</td>{% end %}
      <td>{{ question.genre.name }}</td>
      <td>{{ modules.ShowUser(question.author) }}</td>
      <td>{{ modules.TimeSince(question.add_date) }}</td>
      <td>
        <a href="{{ reverse_url('view_question', question._id) }}">{{ question.text }}</a>
	(<a href="{{ reverse_url('edit_question', question._id) }}">edit</a>)
      </td>
    </tr>
  </tbody>
  {% end %}
</table>
</form>


{% end %}
