{% extends "../base.html" %}

{% block extra_head %}
<style type="text/css">
#content_inner .question h4 {
  border-bottom:0px solid white;
  font-size:17px;
}
#question_info {
  width:45%;
}
#question_actions {
  float:right;
  width:45%;
}
button.bold { font-weight:bold; }
#questions_score { float:right; }
</style>
{% end %}

{% block title %}
{% if page_title %}
  {{ page_title }}
  {% else %}
  Questions, questions, questions
  {% end %}
{% end %}

{% block content_outer %}
  <div id="content_inner">
  <h1>{% if page_title %}
  {{ page_title }}
  {% else %}
  Questions, questions, questions
  {% end %}
  </h1>
      <div id="questions_score">
      <p>
        <strong>Your score</strong>
        <br>
        published: {{ questions_score['published'] }}
        accepted: {{ questions_score['accepted'] }}
        reviewed: {{ questions_score['reviewed'] }}
      </p>
      </div>
      {% block content_inner %}
      {% end %}

      <p><a href="/questions/">Questions home page</a></p>
  </div>

{% end %}
