{% extends "../base.html" %}

{% block extra_head %}
{{ modules.Static("css/questions.css", "css/question_input.css","css/ext/jquery.autocomplete.css") }}
{% end %}

{% block title %}
{% if page_title %}
  {{ page_title }}
  {% else %}
  Questions, questions, questions
  {% end %}
{% end %}

{% block content_outer %}
  <div id="content_inner">
  <h1>{% if page_title %}
  {{ page_title }}
  {% else %}
  Questions, questions, questions
  {% end %}
  </h1>
      <div id="questions_score">
      <p>
        <strong>Your score</strong>
        <br>
        published: {{ questions_score['published'] }}
        accepted: {{ questions_score['accepted'] }}
        reviewed: {{ questions_score['reviewed'] }}
      </p>
      </div>
      {% block content_inner %}
      {% end %}

    <p><a href="/questions/">Questions home page</a></p>
  </div>

{% end %}
