{% extends "../base.html" %}

{% block extra_head %}
{{ modules.Static("css/questions.css", "css/question_input.css","css/ext/jquery.autocomplete.css", "css/ext/tipsy.css") }}
{% end %}

{% block title %}
{% if page_title %}
  {{ page_title }}
  {% else %}
  Questions, questions, questions
  {% end %}
{% end %}

{% block extra_login %}
      <div id="questions_score">
      <p>
        <strong>Your Question Points:</strong>
        <span class="question-points">{{ total_question_points }}</span>
        <a href="{{ reverse_url('question_points') }}" class="about-breakdown"
           title="Click to see a break down of your total Question Points">?</a>
      </p>
      </div>
{% end %}

{% block content_outer %}
  <div id="content_inner">
  <h2>{% if page_title %}
  {{ page_title }}
  {% else %}
  Questions, questions, questions
  {% end %}
  </h2>
      {% block content_inner %}
      {% end %}
  </div>

{% end %}
