{% extends "base.html" %}

{% block extra_head %}
<style>
div.box .left ul#questions {
   list-style-type: none;	
   padding-left: 0;
}

div.box .left ul#questions li {
    background-color: #F1F1F1;
    border-bottom: 1px solid #FFFFFF;
    float: left;
    padding: 10px;
    width: 640px;
}

div.box .left ul#questions li img {
  float: left;
  margin-right: 10px;	
}
</style>
{% end %}


{% block content_inner %}






<div class="box">
  <div class="right">
  	<h4>Your stats</h4>
  		<ul>
	  {% if draft_questions.count() %}<li>{{ draft_questions.count() }} still in draft</li>{% end %}
	  {% if rejected_questions.count() %}<li>{{ rejected_questions.count() }} rejected</li>{% end %}
	  <li>{{ submitted_questions.count() }} submitted</li>
	  <li>{{ accepted_questions_count }} waiting for review</li>
	  <li>{{ published_questions_count }} published
	      {% if published_questions_count %} - <a href="{{ reverse_url('questions_published') }}">see all</a>{% end %}
	  </li>
	</ul>
	
	<h4>Categories</h4>
	<p>There are currently <strong>{{ count_all_approved_genres }} approved categories</strong><br>
<a href="{{ reverse_url('all_categories') }}">See them all</a>
</p>
  </div>
  <div class="left">
  <h3>Your questions</h3>
  <p>Your questions have been played XXX times already!</p>
  <form action="{{ reverse_url('questions_search') }}" id="search">
  <input name="q" size="30" value="{{ q }}">
  </form>
  
  <ul id="questions">
  
  {% if submitted_questions.count() %}
  {% for question in submitted_questions %}
  <li>
   <img src="{{ modules.StaticURL('images/waiting.png') }}" style="float:left">
   <div id="{{ question._id }}" class="question">
    <p class="question_text"><a href="{{ reverse_url('view_question', question._id ) }}">{{ question.text }}</a></p>
    <p class="question_metadata"><em>{% if is_admin_user %}By: {{ modules.ShowUser(question.author) }} | {% end %}
    Category: {{ question.genre.name }} |
    Submitted {{ modules.TimeSince(question.submit_date) }} ago
    </em></p>
   </div>
  </li>
  {% end %}
  {% end %}
  
  
  
  {% if draft_questions.count() %}
  	{% for question in draft_questions %}
  	<li>
  	<div id="{{ question._id }}" class="question">
  	  <p class="question_text"><a href="{{ reverse_url('edit_question', question._id ) }}">{{ question.text }}</a></p>
  	  <p class="question_metadata"><em>Category: {{ question.genre.name }} | 
  	  Added {{ modules.TimeSince(question.add_date) }} ago
  	  </em></p>
  	</div>
    </li>
  	{% end %}
  {% end %}
  
  {% if rejected_questions.count() %}
  {% for question in rejected_questions %}
  <li>
  <img src="{{ modules.StaticURL('images/rejected.png') }}" style="float:left">
  <div id="{{ question._id }}" class="question">
    <p class="question_text"><a href="{{ reverse_url('view_question', question._id ) }}">{{ question.text }}</a></p>
    <p class="question_metadata"><em>Comment: {{ question.reject_comment }} | 
    Category: {{ question.genre.name }} | 
    Rejected {{ modules.TimeSince(question.reject_date) }} ago
    </em></p>
  </div>
  </li>
  {% end %}

  {% end %}
    </ul>
  
  
  
  </div>
</div>


{% end %}
