{% extends "base.html" %}

{% block content_inner %}


<p><a href="{{ reverse_url('add_question') }}" class="btn">Add a new question &rarr;</a>
{% if accepted_questions.count() %}
  There are {{ accepted_questions.count() }} accepted questions that needs
  <a href="{{ reverse_url('review_random') }}" title="click to review a random accepted question">reviewing</a>
  {% if is_admin_user %}
    |
    <a href="{{ reverse_url('review_accepted') }}" title="click to review accepted question">accepted</a>,
    <a href="{{ reverse_url('all_questions') }}" title="complete table of all questions">all</a>
    (admin only)
  {% end %}
{% end %}
</p>

{% if draft_questions.count() %}
<div id="draft_questions">
  <h3>Draft Questions ({{ draft_questions.count() }})</h3>
  {% for question in draft_questions %}
  <div id="{{ question._id }}" class="question">
    <p class="question_text"><a href="{{ reverse_url('edit_question', question._id ) }}">{{ question.text }}</a></p>
    <p class="question_metadata">Genre: {{ question.genre.name }}<br>
    Added {{ modules.TimeSince(question.add_date) }} ago
    </p>
  </div>
  {% end %}
  {% if not draft_questions.count() %}
  <div>
    <p><em>None at the moment</em></p>
  </div>
  {% end %}
</div>
{% end %}

{% if rejected_questions.count() %}
<div id="rejected_questions">
  <h3>Rejected Questions ({{ rejected_questions.count() }})</h3>
  {% for question in rejected_questions %}
  <div id="{{ question._id }}" class="question">
    <p class="question_text"><a href="{{ reverse_url('view_question', question._id ) }}">{{ question.text }}</a></p>
    <p class="question_metadata">Comment: <em>{{ question.reject_comment }}</em><br>
    Genre: {{ question.genre.name }}<br>
    Rejected {{ modules.TimeSince(question.reject_date) }} ago
    </p>
  </div>
  {% end %}
</div>
{% end %}

<div id="submitted_questions">
  <h3>Submitted Questions ({{ submitted_questions.count() }})</h3>
  {% for question in submitted_questions %}
  <div id="{{ question._id }}" class="question">
    <p class="question_text"><a href="{{ reverse_url('view_question', question._id ) }}">{{ question.text }}</a></p>
    <p class="question_metadata">{% if is_admin_user %}By: {{ modules.ShowUser(question.author) }}<br>{% end %}
    Genre: {{ question.genre.name }}<br>
    Submitted {{ modules.TimeSince(question.submit_date) }} ago
    </p>
  </div>
  {% end %}
  {% if not submitted_questions.count() %}
  <div>
    <p><em>None at the moment</em></p>
  </div>
  {% end %}
</div>

{% end %}