{% extends "base.html" %}


{% block extra_js %}
{% module Static("js/question_review.js") %}
{% end %}

{% block content_inner %}

<div style="float:right;width:45%">

<div id="question_actions">
<form action="{{ reverse_url('review_question', question._id) }}" method="post">
{% module xsrf_form_html() %}
<label for="id_rating">1) Rating</label><br>
<div id="rating_buttons">
<input type="hidden" name="rating" value="" id="id_rating">
<button name="rating_button" value="Bad" type="button">Bad</button>
<button name="rating_button" value="OK" type="button">OK</button>
<button name="rating_button" value="Good" type="button">Good</button>
</div>
<br>

<label for="id_difficulty">2) Difficulty (optional)</label><br>
<div id="difficulty_buttons">
<input type="hidden" name="difficulty" value="" id="id_difficulty">
<button name="difficulty_button" value="0" type="button">About right</button>
<button name="difficulty_button" value="1" type="button">Easy</button>
<button name="difficulty_button" value="-1" type="button">Hard</button>
</div>
<br>

<label for="id_comment">3) Comment (optional)</label><br>
<div><textarea id="id_comment" name="comment" cols="45" rows="3"></textarea></div>
<br>

<label for="id_comment">4) Final verdict</label>
<div id="verdict_buttons">
<input type="hidden" name="verdict" value="" id="id_verdict">
{% for button in buttons %}
<button name="verdict_button" class="verdict"
  value="{{ button['name'] }}" type="submit">{{ button['value'] }}</button>
{% end %}
</div>

</form>
</div>

</div>

<div id="question_info">
<p>
<strong>Question:</strong>
<span>{{ question.text }}</span>
<br>
<strong>Answer:</strong>
<span>{{ question.answer }}</span>
({% if question.spell_correct %}spell correct{% else %}no spell correction{% end %})
<br>
<strong>Also accept:</strong>
{% if question.accept %}
<span>{{ ', '.join(question.accept) }}</span>
{% else %}
<em>none</em>
{% end %}
<br>
<strong>Alternatives:</strong>
<span>{{ ', '.join(question.alternatives) }}</span>
<br>
<strong>Comments:</strong>
{% if question.comment %}
<span>{{ question.comment }}</span>
{% else %}
<em>none</em>
{% end %}
</p>
</div>

<div id="question_metadata">
<p>
{% if is_admin_user %}(only visit to admin)
<strong>By:</strong>
<span>{% module ShowUser(question.author) %}</span>
<br>
{% end %}
{% if question.accept_date %}
<strong>Accepted:</strong>
<span>{% module TimeSince(question.accept_date) %} ago</span>
<br>
{% end %}
</p>
</div>

<p><a href="{{ reverse_url('questions') }}" class="btn">&larr; back to questions dashboard</a></p>


{% end %}
