{% extends "base.html" %}

{% block extra_js %}
{% module Static("js/question_actions.js") %}
{% end %}

{% block content_inner %}

<div style="float:right;width:45%">

{% if is_admin_user %}
<div id="question_actions">
  <h3>Admin actions</h3>
  {% if question.submit_date %}
  <form action="{{ reverse_url('reject_question', question._id) }}" method="post" id="reject">
    {% module xsrf_form_html() %}
    <div id="reject_comment" style="display:none">Comment:<br>
    {% if skip is not None %}<input type="hidden" name="skip" value="{{ skip }}">{% end %}
    <textarea name="reject_comment" cols="30" rows="3"></textarea>
    </div>
    <div><input type="submit" value="Reject"></div>
  </form>
  <form action="{{ reverse_url('comment_question', question._id) }}" method="post" id="comment">
    {% module xsrf_form_html() %}
    <div id="send_comment" style="display:none">Comment:<br>
    {% if skip is not None %}<input type="hidden" name="skip" value="{{ skip }}">{% end %}
    <textarea name="comment" cols="50" rows="6"></textarea>
    </div>
    <div><input type="submit" value="Send comment"></div>
  </form>
  {% if question.state == 'ACCEPTED' %}
    {% if skip is not None %}
      <form action="{{ reverse_url('review_accepted') }}" method="post" id="skip">
        {% module xsrf_form_html() %}
        <div><input type="hidden" name="skip" value="{{ skip }}">
        <input type="submit" value="Skip"></div>
      </form>
    {% end %}

    <form action="{{ reverse_url('publish_question', question._id) }}" method="post" id="publish">
      {% module xsrf_form_html() %}
      {% if skip is not None %}<input type="hidden" name="skip" value="{{ skip }}">{% end %}
      <div><input type="submit" value="Publish!"></div>
    </form>

  {% else %}
    <form action="{{ reverse_url('accept_question', question._id) }}" method="post" id="accept">
      {% module xsrf_form_html() %}
      <div><input type="submit" value="Accept"></div>
    </form>
  {% end %}
  {% else %}
  <p><em>Question not submitted yet</em></p>
  {% end %}
</div>
{% end %}

{% if question.accept_date %}
<div id="question_reviews">
<h3>Reviews</h3>
<table style="width:100%">
  <thead>
  <tr>
    <td>Verdict</td>
    <td>Reviewer</td>
    <td>Difficulty</td>
    <td>Rating</td>
  </tr>
  </thead>
  {% if rating_total %}
  <tfoot>
  <tr>
    <td colspan="2">TOTALS:</td>
    <td>{{ difficulty_total }}</td>
    <td>{{ rating_total }}</td>
  </tr>
  </tfoot>
  {% end %}
  {% for review in reviews %}
  <tbody class="review">
    <tr>
      <td><strong>{{ review.verdict }}</strong></td>
      <td>{% module ShowUser(review.user) %}</td>
      <td>{{ review.difficulty }}</td>
      <td>{{ review.rating }}</td>
    </tr>
  </tbody>
  {% end %}
</table>
</div>
{% else %}
<p>No reviews at the moment because the question isn't accepted yet.</p>
{% end %}

</div>

{% if can_edit %}
<a class="btn" href="{{ reverse_url('edit_question', question._id) }}">Edit question &rarr;</a>
{% end %}

<div id="question_info">
<p>
<strong>Question:</strong>
<span>{{ question.text }}</span>
<br>
<strong>Answer:</strong>
<span>{{ question.answer }}</span>
({% if question.spell_correct %}spell correct{% else %}no spell correction{% end %})
<br>
<strong>Also accept:</strong>
{% if question.accept %}
<span>{{ ', '.join(question.accept) }}</span>
{% else %}
<em>none</em>
{% end %}
<br>
<strong>Alternatives:</strong>
<span>{{ ', '.join(question.alternatives) }}</span>
<br>
<strong>Comments:</strong>
{% if question.comment %}
<span>{{ question.comment }}</span>
{% else %}
<em>none</em>
{% end %}

{% if question.has_image() %}
<br><strong>Image:</strong><br>
{% module ShowQuestionImageThumbnail(question.get_image(), (300, 300), alt=question.text) %}
{% end %}
</p>

</div>

<div id="question_metadata">
<p>
{% if is_admin_user %}
<strong>State:</strong>
<span>{{ question.state }} (admin only)</span>
<br>
{% end %}
<strong>By:</strong>
<span>{% module ShowUser(question.author) %}</span>
<br>
{% if question.submit_date %}
<strong>Submitted:</strong>
<span>{% module TimeSince(question.submit_date) %} ago</span>
<br>
{% end %}
{% if question.reject_date %}
<strong>Rejected:</strong>
<span>{% module TimeSince(question.reject_date) %} ago</span>
<br>
{% if question.reject_comment %}
<strong>Rejection comment:</strong>
<span><em>{{ question.reject_comment }}</em></span>
<br>
{% end %}
{% end %}
{% if question.accept_date %}
<strong>Accepted:</strong>
<span>{% module TimeSince(question.accept_date) %} ago</span>
<br>
{% end %}
{% if question.publish_date %}
<strong>Published:</strong>
<span>{% module TimeSince(question.publish_date) %} ago</span>
<br>
{% end %}
</p>
</div>

{% if question_knowledge %}
<div id="question_knowledge">
<p>Question has been played {{ question_knowledge.users }} times</p>
{% if is_admin_user %}
<table>
  <tr>
    <td>Right:</td>
    <td>{% module ShowPercentage(question_knowledge.right) %}</td>
  </tr>
  <tr>
    <td>Right with alternatives:</td>
    <td>{% module ShowPercentage(question_knowledge.alternatives_right) %}</td>
  </tr>
  <tr>
    <td>Wrong:</td>
    <td>{% module ShowPercentage(question_knowledge.wrong) %}</td>
  </tr>
  <tr>
    <td>Wrong with alternatives:</td>
    <td>{% module ShowPercentage(question_knowledge.alternatives_wrong) %}</td>
  </tr>
  <tr>
    <td>Too slow:</td>
    <td>{% module ShowPercentage(question_knowledge.too_slow) %}</td>
  </tr>
  <tr>
    <td>No answer from anybody:</td>
    <td>{% module ShowPercentage(question_knowledge.timed_out) %}</td>
  </tr>
  <tr>
    <td style="font-weight:bold">Check:</td>
    {% set k=question_knowledge %}
    <td style="font-weight:bold">{% module ShowPercentage(k.right + k.wrong + k.alternatives_right + k.alternatives_wrong + k.too_slow + k.timed_out) %}</td>
  </tr>
</table>
{% else %}
<p>About {% module ShowPercentage(question_knowledge.right, sf=0) %} chance that someone gets it right.</p>
{% end %}
</div>
{% end %}

{% if question.state == 'SUBMITTED' %}
<form id="retract" action="{{ reverse_url('retract_question', question._id) }}" method="post">
{% module xsrf_form_html() %}
<p><input type="submit" title="This will un-submit the question so you can edit it" value="&larr; Edit question again">
</p>
</form>
{% end %}

<p><a href="{{ reverse_url('questions') }}" class="btn">&larr; back to questions dashboard</a></p>



{% end %}
