{% extends "base.html" %}

{% block extra_head %}
<style style="text/css">
body {
  background-color: #fff;
  font-family:'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
}
a.question { font-weight:bold; }
.footer {
  margin-top:45px;
  font-size:12px;
  color:#666;
  text-align:center;
}
.review { font-size:0.8em; }
</style>
{% end %}

{% block content_inner %}
<p>Hi {{ user.first_name }},<br>
This is your {{ frequency }} newsletter from <a href="/">Kwissle.com</a>.
You are receiving this because you added questions.</p>


{% if not published_count and not accepted_count and not reviews_count %}
<h3>Questions</h3>
<p>No questions submitted, reviewed or published since the {{ since.strftime('%d %B %Y') }}</p>

{% end %}

{% if published_count %}
<h3>{{ published_count }} published question{% if published_count != 1 %}s{% end %}</h3>
  {% for question in published %}
  <p><a href="{{ reverse_url('view_question', question._id) }}"
        class="question"
        title="Click to see your question">{{ question.text }}</a>
        {% if question.has_image() %}
        (picture question)
        {% end %}
        <br/>

  </p>
  {% end %}
{% end %}

{% if accepted_count %}
<h3>{{ accepted_count }} question{% if accepted_count != 1 %}s{% end %} accepted</h3>
  {% for question in accepted %}
  <p><a href="{{ reverse_url('view_question', question._id) }}"
        class="question"
        title="Click to see your question">{{ question.text }}</a><br/>
  </p>
  {% end %}
{% end %}

{% if reviews_count %}
<h3>{{ reviews_count }} review{% if reviews_count != 1 %}s{% end %} on your accepted questions</h3>
  {% set prev_text='' %}
  {% for review in reviews %}
  <p>
    {% if review.question.text != prev_text %}
    On <a href="{{ reverse_url('view_question', review.question._id) }}"
        class="question"
        title="Click to see your question">{{ review.question.text }}</a><br>
    {% set prev_text=review.question.text %}
    {% end %}
  <span class="review">
  <strong>Rating:</strong> {% module ShowRating(review.rating) %}<br>
  <strong>Difficulty:</strong> {% module ShowDifficulty(review.difficulty) %}<br>
  <strong>Verdict:</strong> {% module ShowVerdict(review.verdict) %}<br>
  {% if review.comment %}
  <strong>Comment:</strong> {% raw linkify(review.comment) %}
  {% end %}
  </span>
  </p>
  {% end %}
{% end %}

<p><strong>Can you think of more good questions?</strong>
<a href="{{ reverse_url('add_question') }}">Click here to contribute more</a>
</p>

{% if played_count or question_points %}
<h3>Stats</h3>

{% if question_points %}
<p>You now have <a href="{{ reverse_url('question_points') }}"><strong>{{ question_points }}
Kwissle Question Point{% if question_points != 1 %}s{% end %}</strong></a> thanks to these questions.
</p>
{% end %}

{% if played_count %}
<p>
Your <strong>{{ total_published_count }} published question{% if total_published_count != 1 %}s{% end %}</strong>
 have been played <strong>{{ played_count }} time{% if played_count != 1 %}s{% end %}</strong>
 by <strong>{{ unique_players_count }} different people</strong> since the
 {{ since.strftime('%d %B %Y') }}.
</p>
{% end %}
{% end %}

<p class="footer">
********************** KWISSLE NEWSLETTER EXPERIMENT ***********************<br>
**************************** NO UNSUBSCRIBE LINK YET ****************************
</p>


{% end %}
