{% extends "base.html" %}

{% block extra_head %}
<style style="text/css">
body {
  background-color: #fff;
  font-family:'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
}
a.question { font-weight:bold; }
.footer { margin-top:25px; font-size:12px; color:#666; }
</style>
{% end %}

{% block content_inner %}
<p>Hi {{ user.first_name }},
This is your {{ frequency }} newsletter from <a href="http://kwissle.com">Kwissle.com</a>.
You are receiving this because you added questions.</p>


{% if not published_count and not accepted_count and not reviews_count %}
<h3>Questions</h3>
<p>No questions submitted, reviewed or published since the {{ since.strftime('%d %B %Y') }}</p>

{% end %}

{% if published_count %}
<h3>Congratulations! {{ published_count }} published question{% if published_count != 1 %}s{% end %}</h3>
  {% for question in published %}
  <p><a href="{{ reverse_url('view_question', question._id) }}"
        class="question"
        title="Click to see your question">{{ question.text }}</a><br/>

  </p>
  {% end %}
{% end %}

{% if accepted_count %}
<h3>Great! {{ accepted_count }} question{% if accepted_count != 1 %}s{% end %} accepted</h3>
  {% for question in accepted %}
  <p><a href="{{ reverse_url('view_question', question._id) }}"
        class="question"
        title="Click to see your question">{{ question.text }}</a><br/>
  </p>
  {% end %}
{% end %}

{% if reviews_count %}
<h3>Interesting! {{ reviews_count }} review{% if reviews_count != 1 %}s{% end %} on your accepted questions</h3>
  {% for review in reviews %}
  <p>On <strong>{{ review.question.text }}</strong><br>
  <strong>Rating:</strong> {% module ShowRating(review.rating) %}<br>
  <strong>Difficulty:</strong> {% module ShowDifficulty(review.difficulty) %}<br>
  <strong>Verdict:</strong> {% module ShowVerdict(review.verdict) %}<br>
  {% if review.comment %}
  <strong>Comment:</strong> {% raw linkify(review.comment) %}
  {% end %}
  </p>
  {% end %}
{% end %}

{% if played_count %}
<h3>Stats</h3>
<p>
Your <strong>{{ total_published_count }} published question{% if total_published_count != 1 %}s{% end %}</strong>
 have been played <strong>{{ played_count }} time{% if played_count != 1 %}s{% end %}</strong>
 by <strong>{{ unique_players_count }} different people</strong> since the
 {{ since.strftime('%d %B %Y') }}.
</p>
{% end %}

{% end %}



<p class="footer">
**************************** NO UNSUBSCRIBE LINK ****************************
</p>
