{% extends "../base.html" %}

{% block extra_head %}
<style type="text/css">
#authenticators {
  text-align:center;
}
#authenticators p {
  float:left;
  width:33%;
}
#anonymous_play_points {
}
</style>
{% end %}

{% block content_inner %}

{% if user and not user.anonymous %}
<p>You're already logged in as <code>{{ user.username }}</code>.
Do you want to
<a href="{{ reverse_url('logout') }}">log out</a>
or perhaps <a href="{{ reverse_url('settings') }}">change your settings</a>?

{% else %}

{% if anonymous_play_points %}
<div id="anonymous_play_points" class="anonymous">
<p>If you sign in, you'll transfer your <strong class="yellow">{{ anonymous_play_points }} Kwissle points</strong>
you have already earned.</p>
</div>
{% end %}

<h3>Kwissle will NOT post things into your account. Ever!</h3>

<div id="authenticators">
<p>
<a href="/auth/google/" title="Google"><img src="{% module StaticURL("images/google_openid.png") %}" alt="Google"></a>
</p>

<p>
<a href="/auth/twitter/" title="Twitter"><img src="{% module StaticURL("images/twitter_oauth.png") %}" alt="Twitter"></a>
</p>

<p>
<a href="/auth/facebook/" title="Facebook"><img src="{% module StaticURL("images/facebook.png") %}" alt="Facebook"></a>
</p>
</div>

<div class="clearer">&nbsp;</div>

<p>Using any of the services above mean that you <span class="yellow">don't</span>
have to have <span class="yellow">yet another password to
remember</span>.<br>
<!--All <span class="yellow">accounts are</span> used in <span class="yellow">READ-ONLY</span> mode.--></p>

<div class="clearer">&nbsp;</div>
{% end %}

{% end %}
