{% extends "../base.html" %}

{% block extra_head %}
<style type="text/css">
#authenticators {
  width: 420px;
  float: left;
  margin-top: -15px;
}

#authenticators p {
  float:left;
  margin: 0;
  width: 128px;
}

#authenticators p:hover span {
  visibility: visible;
}

#authenticators p span {
  float: left;
  width: 100%;
  text-align: center;
  visibility: hidden;
  font-weight: bold;
  font-size: 13px;
}

#authenticators img {
  opacity: 0.7;	
}

#authenticators img:hover {
  cursor: pointer;
  opacity: 1;	
}

ul.benefits {
  float: left;
  list-style-type: square;
  margin: 0 0 0 30px;
  padding: 0;
  font-size: 13px;	
  line-height: 1.6em;
}
</style>
{% end %}

{% block content_inner %}

	{% if user %}
	<p>You're already logged in as <strong>{{ user.username }}</strong>.
		Do you want to
		<a href="{{ reverse_url('logout') }}">log out</a>
		or perhaps <a href="{{ reverse_url('settings') }}">change your settings</a>?
	{% else %}

	<div id="authenticators">
		<p>
		<a href="/auth/google/" title="Google"><img src="{{ modules.StaticURL("images/google.png") }}" alt="Google"></a>
		<span>google</span>
		</p>

		<p>
		<a href="/auth/twitter/" title="Twitter"><img src="{{ modules.StaticURL("images/twitter.png") }}" alt="Twitter"></a>
		<span>twitter</span>
		</p>

		<p>
		<a href="/auth/facebook/" title="Facebook"><img src="{{ modules.StaticURL("images/facebook1.png") }}" alt="Facebook"></a>
		<span>facebook</span>
		</p>
		</div>

		<p>&laquo; click to sign in with one of these services.</p>
		<ul class="benefits">
			<li>No new passwords/login details to remember</li>
			<li>We <span class="yellow">never</span> post anything to your account</li>
			<li>Simple and easy</li>
		</ul>

	</div>
	{% end %}

{% end %}
