{% extends "../base.html" %}

{% block extra_head %}
<style type="text/css">
#authenticators {
  text-align:center;
}
#authenticators p {
  float:left;
  width:33%;

}
</style>
{% end %}

{% block content_inner %}

{% if user %}
<p>You're already logged in as <code>{{ user.username }}</code>.
Do you want to
<a href="{{ reverse_url('logout') }}">log out</a>
or perhaps <a href="{{ reverse_url('settings') }}">change your settings</a>?

{% else %}
<h3>Choose your weapon soldier!</h3>

<div id="authenticators">
<p>
<a href="/auth/google/" title="Google"><img src="{{ modules.StaticURL("images/google_openid.png") }}" alt="Google"></a>
</p>

<p>
<a href="/auth/twitter/" title="Twitter"><img src="{{ modules.StaticURL("images/twitter_oauth.png") }}" alt="Twitter"></a>
</p>

<p>
<a href="/auth/facebook/" title="Facebook"><img src="{{ modules.StaticURL("images/facebook.png") }}" alt="Facebook"></a>
</p>
</div>

<div class="clearer">&nbsp;</div>
{% end %}

{% end %}