{% extends "../base.html" %}

{% block extra_head %}
<style type="text/css">
input {
  font-size:140%;
  size:500px;
}
</style>
{% end %}

{% block content_inner %}
<div class="box">
<div class="right">
<h4>Safe data</h4>
<p>We're not spambots, and your email is safe with us - we'll never give it away, sell it or pass it on to another person.</p>
</div>
<div class="left">
<h3>Your settings ({{ user.username }})</h3>
<p>Feel free to change your settings below - but remember, your username will always be <code>{{ user.username }}</code>.

{% if form.errors %}
    <ul class="errors general-errors">
        {% for field_name, field_errors in [(n,form.errors[n]) for n in form.errors if form.errors[n]] %}
            {% for error in field_errors %}
                <li>{% raw form[field_name].label %} {% raw error %}</li>
            {% end %}
        {% end %}
    </ul>
{% end %}

<form action="" class="question" method="post">{% module xsrf_form_html() %}

{% for field in form %}
  <p class="field">
    {% raw field.label %}
    {% module RenderField(field) %}
    {% if field.errors %}
       <ul class="errors">{% for error in field.errors %}<li>{{ error }}</li>{% end %}</ul>
    {% end %}
  </p>
{% end %}
<div><input type="submit" value="Save"></div>
</form>

</div>
</div>
{% end %}
