{% extends "../base.html" %}

{% block extra_head %}
<style type="text/css">
input {
  font-size:140%;
  size:500px;
}
</style>
{% end %}

{% block content_inner %}

<h3>Settings</h3>

{% if form.errors %}
    <ul class="errors general-errors">
        {% for field_name, field_errors in [(n,form.errors[n]) for n in form.errors if form.errors[n]] %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }} {{ error }}</li>
            {% end %}
        {% end %}
    </ul>
{% end %}

<form action="" class="question" method="post">{{ xsrf_form_html() }}

<p class="field">
<label for="username">Username</label>
<code>{{ user.username }}</code>
</p>

{% for field in form %}
  <p class="field">
    {{ field.label }}
    {{ modules.RenderField(field) }}
    {% if field.errors %}
       <ul class="errors">{% for error in field.errors %}<li>{{ error }}</li>{% end %}</ul>
    {% end %}
  </p>
{% end %}
<div><input type="submit" value="Save"></div>
</form>


{% end %}