{% extends "../base.html" %}

{% block extra_head %}
<style>
tbody tr:hover { background-color:#2a2e2e; }
/*tr.odd { background-color:#2a2e2e; }*/
td { padding:10px; font-size:150%; }
td.number { padding-left:150px; }
td.percentage { font-size:100%; }
th { text-align:left; }
</style>
{% end %}

{% block content_inner %}

<h2>Stats: {{ page_title }}</h2>

<p><a href="{{ reverse_url('stats') }}">&larr; Back to statistics index</a></p>

<table>
  <thead>
    <tr>
      <td>Times played</td>
      <td class="number" colspan="2"># Users</td>
    </tr>
  </thead>
  <tbody>
    {% for i, key in enumerate(keys) %}
    <tr class="{% if i % 2 %}odd{% else %}even{% end %}">
      <td>{{ key }}</td>
      <td class="number">
        {{ times[key] }}
      </td>
      <td class="percentage">
        ({{ percentages[key] }}%)
      </td>
    </tr>
    {% end %}
  </tbody>
</table>

{% end %}
